$main-text-color: black;
$main-background-color: white;


body {
    background-color: $main-background-color; 
    color:$main-text-color;
    
    font-family: Helvetica, Arial, sans-serif;
    font-weight:lighter;
    font-size:14px;

    margin:0;
    padding:0;
    height:600px;

    display: flex;
    align-items: center;

    #content-wrapper{
        text-align:center;
        text-justify: inter-word;
        width:80%;
        margin-left:10%;

        button{
            width:20%;
            height:40px;
            background-color: rgba(235, 80, 80, 0.8);
            border: rgba(235, 80, 80, 1) solid 1px;
            color:white;
        }
    }
}
